@import '../@core/scss/angular/libs/datatables.component.scss';
@import '../@core/scss/base/bootstrap-extended/include';

.card-account {
  margin-bottom: 0 !important;
}

.card-header-account {
  padding-left: 0 !important;
}

.card-body-account {
  padding-bottom: 0 !important;
}
