<div class="content-wrapper">
    <div class="content-body">
        <!-- User List Start -->
        <section class="users-list-wrapper">
            <!-- Users Filter Start -->
            <div class="card">
                <form [formGroup]="_filterForm" (ngSubmit)="onFilterAll()">
                    <h5 class="card-header">
                        <div class="d-flex align-items-center">Filtro de Búsqueda</div>
                        <div class="d-flex align-items-center heading-elements">
                            <a (click)="onCollapse()"
                               data-action="collapse"
                               tooltipClass="fadeInAnimation"
                               placement="top"
                               ngbTooltip="{{(_collapseStatus ? 'Mostrar' : 'Cerrar')}}"
                               [ngClass]="{ rotate: _collapseStatus }"
                               [attr.aria-expanded]="_collapseStatus">
                                <i class="feather icon-chevron-up d-sm-block d-none font-medium-2 mr-1"></i>
                            </a>
                            <a (click)="onFilterAll()"
                               tooltipClass="fadeInAnimation"
                               placement="top"
                               ngbTooltip="Filtrar">
                                <i data-feather="search"
                                   class="cursor-pointer d-sm-block d-none font-medium-2 mr-1"></i>
                            </a>
                            <a (click)="onClean()"
                               tooltipClass="fadeInAnimation"
                               placement="top"
                               ngbTooltip="Limpiar">
                                <i data-feather="droplet"
                                   class="cursor-pointer d-sm-block d-none font-medium-2"></i>
                            </a>
                        </div>
                    </h5>
                    <div class="card-body" [ngbCollapse]="_collapseStatus">
                        <div class="users-list-filter">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <fieldset class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               id="name"
                                               formControlName="name"
                                               placeholder="Nombre"/>
                                    </fieldset>
                                </div>
                                <div class="col-12 col-md-3">
                                    <fieldset class="form-group">
                                        <input type="text"
                                               class="form-control"
                                               id="email"
                                               formControlName="email"
                                               placeholder="Correo Electrónico"/>
                                    </fieldset>
                                </div>
                                <div class="col-12 col-md-3">
                                    <fieldset class="form-group">
                                        <ng-select id="role_id"
                                                   formControlName="role_id">
                                            <ng-option value="" disabled selected>Roles</ng-option>
                                            <ng-option *ngFor="let item of _roles"
                                                       [value]="item.id">{{item.name}}</ng-option>
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <div class="col-12 col-md-3">
                                    <fieldset class="form-group">
                                        <ng-select id="status"
                                                   formControlName="status">
                                            <ng-option value="" disabled selected>Estado</ng-option>
                                            <ng-option value="Activo">Activo</ng-option>
                                            <ng-option value="Inactivo">Inactivo</ng-option>
                                        </ng-select>
                                    </fieldset>
                                </div>
                            </div>
                            <button type="submit" class="hidden"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Users Filter End -->

            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">Mostrar
                                <select class="form-control mx-25"
                                        [(ngModel)]="_pageModel.limit"
                                        (ngModelChange)="onChangeLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entradas
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center"
                             [ngClass]="this._permissions_values.create ? 'ml-1 ml-md-0' : 'pr-1 pb-1 pb-md-0'">
                            <form [formGroup]="_filterSearch">
                                <input type="text"
                                       class="form-control ml-25"
                                       formControlName="search"
                                       spellcheck="false"
                                       placeholder="Buscar"
                                       (keyup)="onSearchFilter()"/>
                            </form>
                        </div>
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0"
                             *appPermission="_permissions.create">
                            <button type="button" class="btn btn-primary ml-1" rippleEffect
                                    (click)="onModalNewUserOpen()">
                                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i>
                                <span class="d-none d-sm-inline-block">Nuevo Usuario</span>
                            </button>
                        </div>
                    </div>
                </div>
                <ngx-datatable
                        class="bootstrap core-bootstrap"
                        [rows]="rows"
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [scrollbarH]="true"
                        [externalPaging]="true"
                        [externalSorting]="true"
                        [loadingIndicator]="true"
                        [count]="_pageModel.count"
                        [offset]="_pageModel.offset"
                        [limit]="_pageModel.limit"
                        [sortType]="SortType.single"
                        (page)="onPageCallback($event)"
                        (sort)="onSortCallback($event)">
                    <ngx-datatable-column name="Usuario" prop="name" [width]="250">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                <div *ngIf="row.avatar.length > 0; else customAvatar">
                                    <img class="rounded-circle mr-1"
                                         src="{{ row.avatar }}"
                                         height="32"
                                         width="32"
                                         alt="datatable-avatar"/>
                                </div>
                                <ng-template #customAvatar>
                                    <div class="avatar mr-1 ml-0"
                                         [ngClass]="{
                                            'bg-light-success': row.status == 'Activo',
                                            'bg-light-danger': row.status == 'Inactivo'
                                         }">
                                        <div class="avatar-content">{{ name + ' ' + row.last_name | initials | uppercase }}</div>
                                    </div>
                                </ng-template>
                                <div class="cell-line-height">
                                    <a routerLink="/apps/user/user-view/{{ row.id }}" class="font-medium-1 d-block">
                                        <span class="font-weight-bold">{{ name + ' ' + row.last_name }}</span>
                                    </a>
                                    <span class="text-muted font-small-2"> {{ row.email }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Correo Electrónico" prop="email" [width]="200">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            <div class="d-flex align-items-center">
                                {{ row.email }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Teléfono" prop="phone" [width]="30">
                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                            {{ row.phone | mask: '00 0000 0000' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Rol" prop="role_id" [width]="50">
                        <ng-template let-row="row" let-role="row.role" ngx-datatable-cell-template>
                            <div>
                                <i class="feather font-medium-3"
                                   [ngClass]=" {
                                        'icon-user text-primary': role.name == 'Administrador',
                                        'icon-settings text-warning': role.name == 'Gerente',
                                        'icon-database text-success': role.name == 'Técnico'
                                   }"
                                >
                                </i>
                                {{ role.name }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado" prop="status" [width]="30">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a (click)="onChangeStatus(row)"
                               *ngIf="_changeStatus && currentUser.id != row.id; else statusWithoutUpdate">
                                <div class="badge badge-pill"
                                     [ngClass]="{
                                        'badge-light-success': row.status == 'Activo',
                                        'badge-light-danger': row.status == 'Inactivo'
                                     }">
                                    {{ row.status }}
                                </div>
                            </a>
                            <ng-template #statusWithoutUpdate>
                                <div class="badge badge-pill"
                                     [ngClass]="{
                                        'badge-light-success': row.status == 'Activo',
                                        'badge-light-danger': row.status == 'Inactivo'
                                     }">
                                    {{ row.status }}
                                </div>
                            </ng-template>
                        </ng-template>
                    </ngx-datatable-column>
                    <ng-container *ngIf="this._permissions_values.update || this._permissions_values.destroy">
                        <ngx-datatable-column name="Acciones" [width]="40" [sortable]="false">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <ng-container *ngIf="this.currentUser.id === row.id; else actions">
                                    Logueado
                                </ng-container>
                                <ng-template #actions>
                                    <a (click)="onModalUpdateUserOpen($event, row)"
                                       class="text-primary"
                                       tooltipClass="fadeInAnimation"
                                       placement="left-bottom"
                                       ngbTooltip="Editar"
                                       *appPermission="_permissions.update">
                                        <span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>
                                    </a>
                                    <a (click)="onDestroy(row)"
                                       class="text-danger"
                                       tooltipClass="fadeInAnimation"
                                       placement="left-bottom"
                                       ngbTooltip="Eliminar"
                                       *appPermission="_permissions.destroy">
                                        <span [data-feather]="'trash-2'" [size]="16" [class]="'mr-50'"></span>
                                    </a>
                                </ng-template>
                            </ng-template>
                        </ngx-datatable-column>
                    </ng-container>
                </ngx-datatable>
            </div>
        </section>
        <!-- User List End-->
    </div>
</div>
