@import '../@core/scss/angular/libs/datatables.component.scss';
@import '../@core/scss/base/bootstrap-extended/include';
@import '../@core/scss/angular/libs/select.component.scss';
@import '../@core/scss/angular/libs/date-time-picker.component.scss';

.stamp-status-cancel {
  background-color: #fcced3 !important;
}

.datatable-scroll {
  width: auto !important;
}

.add {
  margin-top: 0;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .add {
    margin-top: 13px !important;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .add {
    margin-top: 13px !important;
  }
}

a.disabled {
  pointer-events: none; /* Disable the click */
  color: gray;
}
