<div class="card card-account">
    <form [formGroup]="_filterForm" (ngSubmit)="onFilterAll()">
        <h5 class="card-header card-header-account">
            <div class="d-flex align-items-center">Filtro de Búsqueda</div>
            <div class="d-flex align-items-center heading-elements">
                <a (click)="onCollapse()"
                   data-action="collapse"
                   tooltipClass="fadeInAnimation"
                   placement="top"
                   ngbTooltip="{{(_collapseStatus ? 'Mostrar' : 'Cerrar')}}"
                   [ngClass]="{ rotate: _collapseStatus }"
                   [attr.aria-expanded]="_collapseStatus">
                    <i class="feather icon-chevron-up d-sm-block d-none font-medium-2 mr-1"></i>
                </a>
                <a (click)="onFilterAll()"
                   tooltipClass="fadeInAnimation"
                   placement="top"
                   ngbTooltip="Filtrar">
                    <i data-feather="search"
                       class="cursor-pointer d-sm-block d-none font-medium-2 mr-1"></i>
                </a>
                <a (click)="onClean()"
                   tooltipClass="fadeInAnimation"
                   placement="top"
                   ngbTooltip="Limpiar">
                    <i data-feather="droplet"
                       class="cursor-pointer d-sm-block d-none font-medium-2"></i>
                </a>
            </div>
        </h5>
        <div class="card-body card-body-account" [ngbCollapse]="_collapseStatus">
            <div class="row">
                <div class="col-12 col-md-3">
                    <fieldset class="form-group">
                        <input type="text"
                               class="form-control"
                               id="bank_name"
                               formControlName="bank_name"
                               placeholder="Nombre del Banco"/>
                    </fieldset>
                </div>
                <div class="col-12 col-md-3">
                    <fieldset class="form-group">
                        <input type="text"
                               class="form-control"
                               id="bank_rfc"
                               formControlName="bank_rfc"
                               placeholder="RFC del Banco"/>
                    </fieldset>
                </div>
                <div class="col-12 col-md-3">
                    <fieldset class="form-group">
                        <input type="text"
                               class="form-control"
                               id="number_account"
                               formControlName="number_account"
                               placeholder="Número de Cuenta"/>
                    </fieldset>
                </div>
            </div>
            <button type="submit" class="hidden"></button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-6 col-12">
        <div class="d-flex justify-content-between align-items-center m-1">
            <label class="d-flex align-items-center">Mostrar
                <select class="form-control mx-25"
                        [(ngModel)]="_pageModel.limit"
                        (ngModelChange)="onChangeLimit($event)">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                entradas
            </label>
        </div>
    </div>
    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
        <div class="d-flex align-items-center"
             [ngClass]="this._permissions_values.update ? 'ml-1 ml-md-0' : 'pr-1 pb-1 pb-md-0'">
            <form [formGroup]="_filterSearch">
                <input type="text"
                       class="form-control ml-25"
                       formControlName="search"
                       spellcheck="false"
                       placeholder="Buscar"
                       (keyup)="onSearchFilter()"/>
            </form>
        </div>
        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0" *appPermission="_permissions.update">
            <button type="button" class="btn btn-primary ml-1" rippleEffect (click)="onModalNewAccountOpen()">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i>
                <span class="d-none d-sm-inline-block">Nueva Cuenta</span>
            </button>
        </div>
    </div>
</div>
<ngx-datatable
        class="bootstrap core-bootstrap"
        [rows]="rows"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [scrollbarH]="true"
        [externalPaging]="true"
        [externalSorting]="true"
        [loadingIndicator]="true"
        [count]="_pageModel.count"
        [offset]="_pageModel.offset"
        [limit]="_pageModel.limit"
        [sortType]="SortType.single"
        (page)="onPageCallback($event)"
        (sort)="onSortCallback($event)">
    <ngx-datatable-column name="Nombre del Banco" prop="bank_name" [width]="200">
    </ngx-datatable-column>
    <ngx-datatable-column name="RFC del Banco" prop="bank_rfc" [width]="100">
    </ngx-datatable-column>
    <ngx-datatable-column name="Número de Cuenta" prop="number_account" [width]="100">
    </ngx-datatable-column>
    <ngx-datatable-column name="Estado" prop="active" [width]="50">
        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
                {{ row.active ? 'Activada' : 'Desactivada' }}
            </div>
        </ng-template>
    </ngx-datatable-column>
    <ng-container *ngIf="this._permissions_values.update">
        <ngx-datatable-column name="Acciones" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
                <a (click)="onChangeStatusAccount(row)"
                   class="{{ row.active ? 'text-danger' : 'text-success' }}"
                   tooltipClass="fadeInAnimation"
                   placement="left-bottom"
                   ngbTooltip="{{ row.active ? 'Desactivar' : 'Activar' }}"
                   *appPermission="_permissions.update">
                    <span [data-feather]="'git-pull-request'" [size]="16" [class]="'mr-50'"></span>
                </a>
                <a (click)="onModalUpdateAccountOpen($event, row)"
                   class="text-primary"
                   tooltipClass="fadeInAnimation"
                   placement="left-bottom"
                   ngbTooltip="Editar"
                   *appPermission="_permissions.update">
                    <span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span>
                </a>
                <a (click)="row.deleted ? onDestroy(row) : ''"
                   class="text-danger"
                   tooltipClass="fadeInAnimation"
                   placement="left-bottom"
                   ngbTooltip="{{ row.deleted ? 'Eliminar' : 'No se puede eliminar' }}"
                   *appPermission="_permissions.destroy">
                    <span [data-feather]="'trash-2'" [size]="16" [class]="'mr-50'"></span>
                </a>
            </ng-template>
        </ngx-datatable-column>
    </ng-container>
</ngx-datatable>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onClose()" rippleEffect> Salir</button>
</div>
